<a href="https://colab.research.google.com/github/sonalb22/Text_summarisation/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -U spacy
!python -m spacy download en_core_web_sm

In [0]:
text = """I had two fathers, a rich one and a poor one. One was highly educated and intelligent; he had a
Ph.D. and completed four years of undergraduate work in less than two years. He then went on
to Stanford University, the University of Chicago, and Northwestern University to do his
advanced studies, all on full financial scholarships. The other father never finished the eighth
grade.
Both men were successful in their careers, working hard all their lives. Both earned substantial
incomes. Yet one struggled financially all his life. The other would become one of the richest
men in Hawaii. One died leaving tens of millions of dollars to his family, charities and his church.
The other left bills to be paid.
Both men were strong, charismatic and influential. Both men offered me advice, but they did
not advise the same things. Both men believed strongly in education but did not recommend the
same course of study.."""

In [0]:
import spacy 
from spacy.lang.en.stop_words import STOP_WORDS
from string import punctuation

In [0]:
stopwords = list(STOP_WORDS)

In [0]:
nlp = spacy.load('en_core_web_sm')

In [0]:
doc = nlp(text)

In [39]:
tokens = [token.text for token in doc]
print(tokens)

['I', 'had', 'two', 'fathers', ',', 'a', 'rich', 'one', 'and', 'a', 'poor', 'one', '.', 'One', 'was', 'highly', 'educated', 'and', 'intelligent', ';', 'he', 'had', 'a', '\n', 'Ph.D.', 'and', 'completed', 'four', 'years', 'of', 'undergraduate', 'work', 'in', 'less', 'than', 'two', 'years', '.', 'He', 'then', 'went', 'on', '\n', 'to', 'Stanford', 'University', ',', 'the', 'University', 'of', 'Chicago', ',', 'and', 'Northwestern', 'University', 'to', 'do', 'his', '\n', 'advanced', 'studies', ',', 'all', 'on', 'full', 'financial', 'scholarships', '.', 'The', 'other', 'father', 'never', 'finished', 'the', 'eighth', '\n', 'grade', '.', '\n', 'Both', 'men', 'were', 'successful', 'in', 'their', 'careers', ',', 'working', 'hard', 'all', 'their', 'lives', '.', 'Both', 'earned', 'substantial', '\n', 'incomes', '.', 'Yet', 'one', 'struggled', 'financially', 'all', 'his', 'life', '.', 'The', 'other', 'would', 'become', 'one', 'of', 'the', 'richest', '\n', 'men', 'in', 'Hawaii', '.', 'One', 'died', 'leaving', 'tens', 'of', 'millions', 'of', 'dollars', 'to', 'his', 'family', ',', 'charities', 'and', 'his', 'church', '.', '\n', 'The', 'other', 'left', 'bills', 'to', 'be', 'paid', '.', '\n', 'Both', 'men', 'were', 'strong', ',', 'charismatic', 'and', 'influential', '.', 'Both', 'men', 'offered', 'me', 'advice', ',', 'but', 'they', 'did', '\n', 'not', 'advise', 'the', 'same', 'things', '.', 'Both', 'men', 'believed', 'strongly', 'in', 'education', 'but', 'did', 'not', 'recommend', 'the', '\n', 'same', 'course', 'of', 'study', '..']

In [40]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [41]:
punctuation = punctuation + '\n'
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~\n'

In [0]:
word_frequencies = {}
for word in doc:
  if word.text.lower() not in stopwords:
    if word.text.lower() not in punctuation:
      if word.text not in word_frequencies.keys():
        word_frequencies[word.text] = 1
      else:
        word_frequencies[word.text] +=1

In [43]:
print(word_frequencies)

{'fathers': 1, 'rich': 1, 'poor': 1, 'highly': 1, 'educated': 1, 'intelligent': 1, 'Ph.D.': 1, 'completed': 1, 'years': 2, 'undergraduate': 1, 'work': 1, 'went': 1, 'Stanford': 1, 'University': 3, 'Chicago': 1, 'Northwestern': 1, 'advanced': 1, 'studies': 1, 'financial': 1, 'scholarships': 1, 'father': 1, 'finished': 1, 'eighth': 1, 'grade': 1, 'men': 5, 'successful': 1, 'careers': 1, 'working': 1, 'hard': 1, 'lives': 1, 'earned': 1, 'substantial': 1, 'incomes': 1, 'struggled': 1, 'financially': 1, 'life': 1, 'richest': 1, 'Hawaii': 1, 'died': 1, 'leaving': 1, 'tens': 1, 'millions': 1, 'dollars': 1, 'family': 1, 'charities': 1, 'church': 1, 'left': 1, 'bills': 1, 'paid': 1, 'strong': 1, 'charismatic': 1, 'influential': 1, 'offered': 1, 'advice': 1, 'advise': 1, 'things': 1, 'believed': 1, 'strongly': 1, 'education': 1, 'recommend': 1, 'course': 1, 'study': 1, '..': 1}

In [0]:
max_frequency = max(word_frequencies.values())

In [45]:
max_frequency

5

In [0]:
#normalising frequencies
for word in word_frequencies.keys():
  word_frequencies[word] = word_frequencies[word]/max_frequency

In [47]:
print(word_frequencies)

{'fathers': 0.2, 'rich': 0.2, 'poor': 0.2, 'highly': 0.2, 'educated': 0.2, 'intelligent': 0.2, 'Ph.D.': 0.2, 'completed': 0.2, 'years': 0.4, 'undergraduate': 0.2, 'work': 0.2, 'went': 0.2, 'Stanford': 0.2, 'University': 0.6, 'Chicago': 0.2, 'Northwestern': 0.2, 'advanced': 0.2, 'studies': 0.2, 'financial': 0.2, 'scholarships': 0.2, 'father': 0.2, 'finished': 0.2, 'eighth': 0.2, 'grade': 0.2, 'men': 1.0, 'successful': 0.2, 'careers': 0.2, 'working': 0.2, 'hard': 0.2, 'lives': 0.2, 'earned': 0.2, 'substantial': 0.2, 'incomes': 0.2, 'struggled': 0.2, 'financially': 0.2, 'life': 0.2, 'richest': 0.2, 'Hawaii': 0.2, 'died': 0.2, 'leaving': 0.2, 'tens': 0.2, 'millions': 0.2, 'dollars': 0.2, 'family': 0.2, 'charities': 0.2, 'church': 0.2, 'left': 0.2, 'bills': 0.2, 'paid': 0.2, 'strong': 0.2, 'charismatic': 0.2, 'influential': 0.2, 'offered': 0.2, 'advice': 0.2, 'advise': 0.2, 'things': 0.2, 'believed': 0.2, 'strongly': 0.2, 'education': 0.2, 'recommend': 0.2, 'course': 0.2, 'study': 0.2, '..': 0.2}

In [48]:
sentence_tokens = [sent for sent in doc.sents]
print(sentence_tokens)

[I had two fathers, a rich one and a poor one., One was highly educated and intelligent; he had a
Ph.D. and completed four years of undergraduate work in less than two years., He then went on
to Stanford University, the University of Chicago, and Northwestern University to do his
advanced studies, all on full financial scholarships., The other father never finished the eighth
grade.
, Both men were successful in their careers, working hard all their lives., Both earned substantial
incomes., Yet one struggled financially all his life., The other would become one of the richest
men in Hawaii., One died leaving tens of millions of dollars to his family, charities and his church.
, The other left bills to be paid.
, Both men were strong, charismatic and influential., Both men offered me advice, but they did
not advise the same things., Both men believed strongly in education but did not recommend the
same course of study..]

In [0]:
#calculating score of each sentence based of the frequency of words in it
sentence_scores = {}
for sent in sentence_tokens:
  for word in sent:
    if word.text.lower() in word_frequencies.keys():
      if sent not in sentence_scores.keys():
        sentence_scores[sent] = word_frequencies[word.text.lower()]
      else:
        sentence_scores[sent] += word_frequencies[word.text.lower()]

In [50]:
sentence_scores

{I had two fathers, a rich one and a poor one.: 0.6000000000000001,
 One was highly educated and intelligent; he had a
 Ph.D. and completed four years of undergraduate work in less than two years.: 2.0,
 He then went on
 to Stanford University, the University of Chicago, and Northwestern University to do his
 advanced studies, all on full financial scholarships.: 1.0,
 The other father never finished the eighth
 grade.: 0.8,
 Both men were successful in their careers, working hard all their lives.: 1.9999999999999998,
 Both earned substantial
 incomes.: 0.6000000000000001,
 Yet one struggled financially all his life.: 0.6000000000000001,
 The other would become one of the richest
 men in Hawaii.: 1.2,
 One died leaving tens of millions of dollars to his family, charities and his church.: 1.5999999999999999,
 The other left bills to be paid.: 0.6000000000000001,
 Both men were strong, charismatic and influential.: 1.5999999999999999,
 Both men offered me advice, but they did
 not advise the same things.: 1.7999999999999998,
 Both men believed strongly in education but did not recommend the
 same course of study..: 2.4}

In [0]:
from heapq import nlargest

In [53]:
#get 30% of sentence with max score
select_length = int(len(sentence_tokens)*0.3)
select_length

3

In [0]:
summary = nlargest(select_length,sentence_scores,key = sentence_scores.get)

In [55]:
summary

[Both men believed strongly in education but did not recommend the
 same course of study.., One was highly educated and intelligent; he had a
 Ph.D. and completed four years of undergraduate work in less than two years., Both men were successful in their careers, working hard all their lives.]

In [0]:
final_summary = [word.text for word in summary]

In [0]:
summary = ' '.join(final_summary)

In [58]:
print(text)

I had two fathers, a rich one and a poor one. One was highly educated and intelligent; he had a
Ph.D. and completed four years of undergraduate work in less than two years. He then went on
to Stanford University, the University of Chicago, and Northwestern University to do his
advanced studies, all on full financial scholarships. The other father never finished the eighth
grade.
Both men were successful in their careers, working hard all their lives. Both earned substantial
incomes. Yet one struggled financially all his life. The other would become one of the richest
men in Hawaii. One died leaving tens of millions of dollars to his family, charities and his church.
The other left bills to be paid.
Both men were strong, charismatic and influential. Both men offered me advice, but they did
not advise the same things. Both men believed strongly in education but did not recommend the
same course of study..

In [59]:
print(summary)

Both men believed strongly in education but did not recommend the
same course of study.. One was highly educated and intelligent; he had a
Ph.D. and completed four years of undergraduate work in less than two years. Both men were successful in their careers, working hard all their lives.

In [60]:
len(text)

916

In [61]:
len(summary)

288